body {
    font-family: Arial, sans-serif;
    background-color: #e0d343;
    margin: 0;
    padding: 0;
}

h1 {
    color: #333;
    text-align: center;
}

h2 {
    text-align: center;
    
}

p {
    color: #555;
    line-height: 1.6;
    padding: 10px;
}
